<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="mb-10 flex flex-col max-w-2xl gap-2">
    <h1 class="font-bold text-4xl">Hi 37signals team 👋</h1>
    <p>Welcome to Parallel. My answer to Jason's <a href="https://x.com/jasonfried/status/1786493141329051735" target="_blank" class="underline">tweet</a> for an app to manage neighborhood parking passes that's not shit.</p>
    <p>This site was built by hand in two weeks. My goal was to start learning the in's and out's of Ruby on Rails in order to apply for the Junior Rails Programmer position.</p>
    <p>I'm just scratching the surface and there's a lot that I wish I could add. But when on a timeline and you gotta stick to the basics.</p>
    <p>If you want to take a look at the repo you can find it <a href="https://github.com/j-webber/parking-app-v3" target="_blank" class="underline">here</a>.</p>
    <p>To login use the super secret login:</p>
    <p>Username: one@example.com</p>
    <p>Password: password</p>
    <p>Thanks for visiting,</p>
    <p>Joe</p>
    </div>
    


  <h1 class="font-bold text-4xl">Sign in</h1>

  <%= form_with url: session_url, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Sign in", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
      </div>

      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
        <%= link_to "Forgot password?", new_password_path, class: "text-gray-700 underline hover:no-underline" %>
      </div>
    </div>
  <% end %>
</div>
