<%= form_with(model: [guest, parking_pass], class: "contents") do |form| %>
  <% if parking_pass.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(parking_pass.errors.count, "error") %> prohibited this parking_pass from being saved:</h2>

      <ul class="list-disc ml-6">
        <% parking_pass.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :expiration_date %>
    <%= form.date_field :expiration_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": parking_pass.errors[:expiration_date].none?, "border-red-400 focus:outline-red-600": parking_pass.errors[:expiration_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :valid_day %>
    <%= form.number_field :valid_day, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": parking_pass.errors[:valid_day].none?, "border-red-400 focus:outline-red-600": parking_pass.errors[:valid_day].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
